<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.dc.javafx.xcore.lang.ide"
            name="New JavaFX Lang File Wizard">
      </category>
      <wizard
            category="de.dc.javafx.xcore.lang.ide"
            class="de.dc.javafx.xcore.lang.ide.wizards.ChartNewWizard"
            icon="icons/sample.png"
            id="de.dc.javafx.xcore.lang.ide.wizards.ChartNewWizard"
            name="JavaFX Lang Chart File">
      </wizard>
      <wizard
            category="de.dc.javafx.xcore.lang.ide"
            class="de.dc.javafx.xcore.lang.ide.wizards.EmfEditNewWizard"
            icon="icons/sample.png"
            id="de.dc.javafx.xcore.lang.ide.wizards.ChartNewWizard"
            name="JavaFX Lang Emf.edit File">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.dc.javafx.xcore.lang.ide.perspective.JavaFXLangPerspective"
            icon="icons/app.png"
            id="de.dc.javafx.xcore.lang.ide.perspective"
            name="JavaFX Lang Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.dc.javafx.xcore.lang.ide.perspective">
         <view
               closeable="false"
               id="org.eclipse.jdt.ui.PackageExplorer"
               minimized="false"
               ratio="0.2f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               ratio="0.75f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               closeable="false"
               id="de.dc.javafx.xcore.lang.ide.JavaFXPreview"
               minimized="false"
               ratio="0.25f"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.dc.javafx.xcore.lang.ide.ui.JavaFXPreview"
            icon="icons/app.png"
            id="de.dc.javafx.xcore.lang.ide.JavaFXPreview"
            name="JavaFX Lang Preview"
            restorable="true">
      </view>
   </extension>

</plugin>
