<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated chart -->
      <package
            uri="http://www.frateranatis.org/workbench/chart"
            class="de.dc.javafx.xcore.workbench.chart.ChartPackage"
            genModel="model/chart.xcore"/>
   </extension>

</plugin>
