<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension
         point="org.eclipse.core.runtime.applications"
         id="IdeEditorAdvisorApplication">
      <!-- @generated ide -->
      <application>
         <run class="de.dc.javafx.xcore.workbench.ide.model.presentation.IdeEditorAdvisor$Application"/>
      </application>
   </extension>


   <extension point="org.eclipse.ui.perspectives">
      <!-- @generated ide -->
      <perspective
            name="%_UI_Perspective_label"
            class="de.dc.javafx.xcore.workbench.ide.model.presentation.IdeEditorAdvisor$Perspective"
            id="de.dc.javafx.xcore.workbench.ide.model.presentation.IdeEditorAdvisorPerspective">
      </perspective>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <!-- @generated ide -->
      <command
            name="%_UI_Menu_OpenURI_label"
            description="%_UI_Menu_OpenURI_description"
            categoryId="org.eclipse.ui.category.file"
            id="de.dc.javafx.xcore.workbench.ide.model.presentation.IdeEditorAdvisorOpenURICommand"/>
      <command
            name="%_UI_Menu_Open_label"
            description="%_UI_Menu_Open_description"
            categoryId="org.eclipse.ui.category.file"
            id="de.dc.javafx.xcore.workbench.ide.model.presentation.IdeEditorAdvisorOpenCommand"/>
   </extension>

   <extension point="org.eclipse.ui.bindings">
      <!-- @generated ide -->
      <key
            commandId="de.dc.javafx.xcore.workbench.ide.model.presentation.IdeEditorAdvisorOpenURICommand"
            sequence="M1+U"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            commandId="de.dc.javafx.xcore.workbench.ide.model.presentation.IdeEditorAdvisorOpenCommand"
            sequence="M1+O"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated ide -->
      <actionSet
            label="%_UI_IdeEditorAdvisor_ActionSet_label"
            visible="true"
            id="IdeEditorAdvisorActionSet">
         <action
               label="%_UI_Menu_About_label"
               class="de.dc.javafx.xcore.workbench.ide.model.presentation.IdeEditorAdvisor$AboutAction"
               menubarPath="help/additions"
               id="de.dc.javafx.xcore.workbench.ide.model.presentation.IdeEditorAdvisorAboutAction"/>
         <action
               label="%_UI_Menu_OpenURI_label"
               definitionId="de.dc.javafx.xcore.workbench.ide.model.presentation.IdeEditorAdvisorOpenURICommand"
               class="de.dc.javafx.xcore.workbench.ide.model.presentation.IdeEditorAdvisor$OpenURIAction"
               menubarPath="file/additions"
               id="de.dc.javafx.xcore.workbench.ide.model.presentation.IdeEditorAdvisorOpenURIAction"/>
         <action
               label="%_UI_Menu_Open_label"
               definitionId="de.dc.javafx.xcore.workbench.ide.model.presentation.IdeEditorAdvisorOpenCommand"
               class="de.dc.javafx.xcore.workbench.ide.model.presentation.IdeEditorAdvisor$OpenAction"
               menubarPath="file/additions"
               id="de.dc.javafx.xcore.workbench.ide.model.presentation.IdeEditorAdvisorOpenAction"/>
      </actionSet>
   </extension>
   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated ide -->
      <actionSet
            label="%_UI_IdeModelWizard_ActionSet_label"
            visible="true"
            id="de.dc.javafx.xcore.workbench.ide.model.presentation.IdeActionBarContributorActionSet">
         <action
               label="%_UI_IdeModelWizard_label"
               class="de.dc.javafx.xcore.workbench.ide.model.presentation.IdeActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="de.dc.javafx.xcore.workbench.ide.model.presentation.IdeActionBarContributorNewAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ide -->
      <editor
            id="de.dc.javafx.xcore.workbench.ide.model.presentation.IdeEditorID"
            name="%_UI_IdeEditor_label"
            icon="icons/full/obj16/IdeModelFile.gif"
            extensions="ide"
            class="de.dc.javafx.xcore.workbench.ide.model.presentation.IdeEditor"
            contributorClass="de.dc.javafx.xcore.workbench.ide.model.presentation.IdeActionBarContributor">
      </editor>
   </extension>

</plugin>
