/.JavaFXLangGenerator.java._trace
/.JavaFXLangGenerator.xtendbin
/JavaFXLangGenerator.java
/.TemplateSwitch.java._trace
/.PatchSwitch.java._trace
/.FilePathSwitch.java._trace
/.EnableGeneratorSwitch.java._trace
/.EnumCollectorSwitch.java._trace
/.TableColumnSwitch.java._trace
/.TableColumnPathSwitch.java._trace
