<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.example.org/xbase/javafx/userinterface"
			class = "de.dc.emf.javafx.xtext.jvm.lang.javafx.JavafxPackage"
			genModel = "model/generated/JavaFXCuDsl.genmodel" />
	</extension>
</plugin>
