<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated blog -->
      <package
            uri="http://www.frateranatis.org/bootstrap/blog"
            class="de.dc.spring.bootstrap.blog.model.ModelPackage"
            genModel="model/blog.xcore"/>
   </extension>

</plugin>
