<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.frateranatis.org/workbench/ide/IdeDsl"
			class = "de.dc.javafx.xcore.workbench.emfSupportDsl.EmfSupportDslPackage"
			genModel = "model/generated/IdeDsl.genmodel" />
	</extension>
</plugin>
