<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated website -->
      <package
            uri="http://www.frateranatis.org/website"
            class="de.dc.javafx.emfsupport.website.model.ModelPackage"
            genModel="model/website.xcore"/>
   </extension>

</plugin>
